* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
 --darkBlue: #1d263b;
 --indigo: #2B4162;
 --walnut: #726953;
 --gray: #76877D;
 --lightBlue: #82A6B1;
}

body {
    font-family: 'Josefin Slab', serif;
    color: whitesmoke;
    background-color: var(--lightBlue);
}

.display-4 {
 background-color: var(--indigo);
}

#cityName {
background-color: var(--gray) 0.75;

}

.col {
    background-color: var(--darkBlue);
    padding: 2%;
    margin: 1%;
}

/* How do I get the header to stretch all the way across? */
#forecastHeader {
    padding: 1%;
    margin: 1%;
    min-width: 100%;
}

#headerColor {
    display: block;
    background-color: var(--indigo);
    margin: 0 auto;
}

.fullwidth {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: .5%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
}

/* How do I change the color of this line? */
hr {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    background-color: var(--gray);
  }