* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
 --darkBlue: #1d263b;
 --indigo: #2B4162;
 --walnut: #726953;
 --gray: #76877D;
 --lightBlue: #82A6B1;
}

body {
    font-family: 'Josefin Slab', serif;
    color: whitesmoke;
    background-color: var(--lightBlue);
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background-color: var(--indigo);
    margin: 0 auto;
    padding: .75%;
}

.display-4 {
 background-color: var(--indigo);
}

#cityName {
background-color: var(--gray) 0.75;

}

.col {
    background-color: var(--darkBlue);
    padding: 2%;
    margin: 1%;
}

.fullwidth {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: .5%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
}

hr {
    border-top: 8px solid var(--darkBlue);
    border-radius: 5px;
  }

  h2 {
    padding: .5%;
  }
  
  #cityNameInfo {
    padding: 1%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }